[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
brotli = "*"
aiohttp = "*"
aiodns = "*"
uniseg = "*"

[dev-packages]
rgbmatrixemulator = "*"

[requires]
python_version = "3.9"
