[Unit]
Description=Raspberry Pi LED Matrix Sign

[Service]
User=root
WorkingDirectory=/home/rpi/repos/pi-rgb-sign
ExecStart=/bin/bash -c 'cd /home/rpi/repos/pi-rgb-sign && python app/src/app.py --connected-sign'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target